<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python and Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for ('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for ('static',filename='favicon.ico') }}">
</head>

<header>
    <div class="nav-header">
        <a class="nav-header" href="/">
            <img style="width:50px; height:50px; margin-top:5px" src="{{ url_for ('static',filename='img/mainlogo.png') }}">
        </a>>
    </div>
    <ul class="nav nav-pills" role="tablist">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon-align-left" aria-hidden="true"></span>
        </button>
    </ul>
</header>>
<body>
</body>
</html>